{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content= "Blur Image Online- Blur Image Background, Blur Image" >
    <meta name="keywords" content= "Blur Image Background, Blur Image, image edit online" >
    <meta name="author" content= "Dipesh Pal" >
    <meta name="description" content= "Blur Image online by using AI, Blur background of images" >

    <title>AI Blur Online</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
<!--    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>-->

</head>
<body class="panel panel-primary panel-transparent">
    {% block mid %}
    {% endblock %}
</body>